
.nav-text-color {
    color: white; /* Set your desired text color here */
  }


  /* Top.css */
.custom-dropdown .NavDropdown {
  color: white; /* Apply your desired text color here */
}


.select {
  background-color: #B6F848;
  color: black;
  border: none;
}

.select:hover {
  background-color: #B6F848; 
  color: black;
  text-decoration: none; 
}
